In [1]:
import pandas as pd

In [2]:
# Load the dataset
file_path = "sales_data.csv"
df = pd.read_csv(file_path)

# Display basic information and the first few rows
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  float64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 8.5+ MB

In [3]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1.0,700.00,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1.0,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2.0,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1.0,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1.0,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

In [4]:
# Step 1: Convert 'Order Date' to datetime, coerce errors to handle any malformed dates
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%y %H:%M', errors='coerce')

In [5]:
# Step 2: Drop rows with missing or invalid dates
df = df.dropna(subset=['Order Date'])

In [6]:
# Step 3: Create 'Sales' column
df['Sales'] = df['Quantity Ordered'] * df['Price Each']

In [7]:
# Step 4: Extract 'City' and 'State' from 'Purchase Address'
def extract_city(address):
    return address.split(',')[1].strip()

def extract_state(address):
    return address.split(',')[2].split()[0].strip()

df['City'] = df['Purchase Address'].apply(extract_city)
df['State'] = df['Purchase Address'].apply(extract_state)

In [8]:
# Step 5: Extract 'Month' and 'Hour' from 'Order Date'
df['Month'] = df['Order Date'].dt.month
df['Hour'] = df['Order Date'].dt.hour

In [9]:
# Step 6: Remove duplicates
df = df.drop_duplicates()

In [10]:
# Step 7: Remove rows where 'Quantity Ordered' is 0 or less
df = df[df['Quantity Ordered'] > 0]

In [11]:
# Display cleaned dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185686 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185686 non-null  int64
 1   Product           185686 non-null  object
 2   Quantity Ordered  185686 non-null  float64
 3   Price Each        185686 non-null  float64
 4   Order Date        185686 non-null  datetime64[ns]
 5   Purchase Address  185686 non-null  object
 6   Sales             185686 non-null  float64
 7   City              185686 non-null  object
 8   State             185686 non-null  object
 9   Month             185686 non-null  int32
 10  Hour              185686 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(2), int64(1), object(4)
memory usage: 15.6+ MB

In [12]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,City,State,Month,Hour
0,141234,iPhone,1.0,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215",700.00,Boston,MA,1,21
1,141235,Lightning Charging Cable,1.0,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035",14.95,Portland,OR,1,14
2,141236,Wired Headphones,2.0,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016",23.98,San Francisco,CA,1,13
3,141237,27in FHD Monitor,1.0,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001",149.99,Los Angeles,CA,1,20
4,141238,Wired Headphones,1.0,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301",11.99,Austin,TX,1,11

In [13]:
# Save the cleaned dataset to a new CSV file
cleaned_file_path = "cleaned_sales_data.csv"
df.to_csv(cleaned_file_path, index=False)